#!/usr/bin/make -f

%:
	dh $@

override_dh_update_autotools_config:
	# dh_update_autotools_config replaces libs/opus/config.{sub,guess}.
	# This is unnecessary as we don't build opus via autotools at all
	# (we use qmake). In addition, this would cause our -dev version generation
	# logic to mark Debian builds as -dirty by default.
	# Therefore, disable this behavior:
	:

override_dh_auto_configure:
	$HOME/sooperlooper/autogen.sh
    $HOME/sooperlooper/configure

override_dh_auto_build:
	make -j "$$(nproc)"

override_dh_auto_install:
	sudo make install

override_dh_auto_clean:
	dh_clean
